.ipynb_checkpoints/
__pycache__/code/notebooks/marthabot_models/
model_downloads/
code/language_model/
code/notebooks/marthabot_models/
code/notebooks/projectnb/
code/scripts/__pycache__/
code/scripts/data/
code/scripts/fsdp/pytorchFSDPexample/data/
reports/*.aux
reports/*.log
reports/*.bbl
reports/*.fdb_latexmk
reports/*.synctex.gz
reports/*.fls
reports/*.pdf
reports/*.blg


# HPC job outputs
*.e
*.o
